div a, input[type="submit"] {
    margin-right: 20px;
    text-decoration: none;
    background-color: #dde6f0;
    border: 1px solid lightslategray;
    border-radius: 7px;
    padding: 7px 12px;
    font-family: Candara,  sans-serif;
}

input[type="text"]{
    border-radius: 10px;
    height: 23px;
    border: none;
    width: 253px;
    padding-left: 7px;
}

div a:visited, div a:active {
    color: black;
    background-color: #dde6f0;
}
.content{
    flex-direction: column;
}
.personal_office{
    border: 1px solid lightslategray;
    padding: 29px;
    border-radius: 30px;
    width: 409px;
}

form{
    width: 371px;
    margin-left: 20px;
}

h1{
    text-align: center;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 56px;
    font-weight: normal;
}
p{
    width: 300px;
    margin: 0px;
}
body{
    background-color: #dde6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Calibri Light",  sans-serif;
}

input[id="logout"]{
    margin-top: 10px;
}

.welcome{
    margin-left: 144px;
    margin-bottom: 39px;
    font-size: 32px;
}

.error-message{
    font-size: 14px;
    display: none;
    color: mediumvioletred;
}